/******TAG SELECTORS*******/
body {
  margin: 0px;
  margin-bottom: 8px;
  text-align: center;
  font-family: Holtwood One SC, sans-serif;
}

h1 {
  font-family: Pattaya, sans-serif;
  font-size: 90px;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: Ultra, sans-serif;
  font-family: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: Ultra, sans-serif;
  color: #11999e;
}

hr {
  margin: 100px auto;
  border-top: 10px dotted #00587a;
  height: 5px;
  width: 5%
}

/******CLASS SELECTORS****/
.top-container {
  background-color: #008891;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #e7e7de;
  padding-bottom: 30px;
  padding-top: 30px;
}

.bottom-container {
  background-color: #0f3057;
  padding: 50px 0 40px;
}

.profile {
  border-radius: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.Dev {
  text-decoration: underline;
}

.this{
font-size: 20px;
color: #00587a;

}

.Web {
  font-family: 2.5rem;
}

.btn {
  background: #008891;
    background-image: -webkit-linear-gradient(top, #008891, #e7e7de);
    background-image: -moz-linear-gradient(top, #008891, #e7e7de);
    background-image: -ms-linear-gradient(top, #008891, #e7e7de);
    background-image: -o-linear-gradient(top, #008891, #e7e7de);
    background-image: linear-gradient(to bottom, #008891, #e7e7de);
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    text-shadow: 1px 1px 3px #edeff0;
    -webkit-box-shadow: 6px 1px 7px #000000;
    -moz-box-shadow: 6px 1px 7px #000000;
    box-shadow: 6px 1px 7px #000000;
    font-family: Ultra, sans-serif;
    color: #0f3057;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    border: solid #0f3057 2px;
    text-decoration: none;
}

.btn:hover {
  background: #008891;
    background-image: -webkit-linear-gradient(top, #008891, #3498db);
    background-image: -moz-linear-gradient(top, #008891, #3498db);
    background-image: -ms-linear-gradient(top, #008891, #3498db);
    background-image: -o-linear-gradient(top, #008891, #3498db);
    background-image: linear-gradient(to bottom, #008891, #3498db);
    text-decoration: none;
}

.footer-link {
  color: #66BFBF;
  text-decoration: none;
}

.footer-link:hover{
background: #e7e7de;
text-decoration: none;
border-radius: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.hello {
  font-size: 30px;
  color: #0f3057;
}

.copyright {
  color: #e7e7de;
  font-size: 75%;
}

.get {
  font-size: large;
  color: #0f3057;
}

.my {
  color: #0f3057;
}

.With {
  font-size: medium;
}

.comm-img {
  width: 100px;
  height: 100px;
  float: right;
}

.key-img {
  width: 40%;
  float: left;
  padding: 30px;
}

/*****ID SELECTORS*****/
